body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(34, 142, 34);

    overflow-x: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header,
footer {
    padding: 0px;
    background-color: rgb(28, 114, 28);
    color: white;
    width: 100%;
}

header>h1,
footer>p {
    padding: 15px;
}



h2 {
    margin-top: 0px;
}

section {
    padding: 20px;
    margin: 15px;
    background-color: rgb(28, 114, 28);
    box-shadow: 0px 0px 25px yellowgreen;
    border-radius: 1rem;
    width: 650px;
}

.images {
    display: flex;
    height: 125px;
    justify-content: space-around;
    width: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.images>img {
    padding: 0.5rem;
}

video {
    width: 500px;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

nav>ul>li {
    list-style-type: none;
    margin: 0px;
    border-radius: 0.5rem;
}


nav>ul>li:hover {
    background-color: rgb(39, 124, 70);
    box-shadow: 0px 0px 35px rgb(109, 136, 119);
    transition-duration: 1000ms;
}

nav>ul>li>a {
    padding: 15px;
    min-height: 25px;
    text-decoration: none;
    color: whitesmoke;
}

nav>ul {
    display: flex;
    padding: 0px;
}

nav {
    margin: 0;
    display: flex;
    background-color: rgb(3, 104, 70);
    justify-content: center;
    min-width: 100%;
}

/* For desktop view: 2 rows and 3 columns */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid whitesmoke;
    padding: 20px;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.166);
    border-radius: 1.5rem;
}

.grid-item:hover {
    background-color: green;
    box-shadow: 0px 0px 25px yellowgreen;
    transition-duration: 1000ms;

}

.grid-item>img {
    width: 50%;
}

/* For mobile view: 3 rows and 2 columns */
@media (max-width: 640px) {
    .grid-container {
        display: block;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    .grid-item {
        margin: 15px;
    }
}

@media screen and (max-width: 768px) {

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .images {
        display: flex;
        height: 125px;
        justify-content: space-around;
        width: 350px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    nav>ul {
        display: flex;
        padding: 0px;
        flex-direction: column;
    }

    nav {
        margin: 0;
        display: flex;
        background-color: rgb(3, 104, 70);
        justify-content: start;
        min-width: 100%;
    }

    section {
        width: 350px;
    }

    video {
        width: 270px;
        height: auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }

}